# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.DS_Store
*/.ipynb_checkpoints/*
python_scripts/*_sandbox.ipynb
.gitignore
python_scripts/dask-worker-space/*
.ipynb_checkpoints/README-checkpoint.md
